<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Image Uploader</title>
<link rel="stylesheet" type="text/css" href="https://cursedprograms.github.io/cursedentertainment/styles/main-style.css">
<link rel="stylesheet" type="text/css" href="https://cursedprograms.github.io/cursedentertainment/styles/content-style.css">
<link rel="stylesheet" type="text/css" href="https://cursedprograms.github.io/cursedentertainment/styles/icon-style.css">
<link rel="stylesheet" type="text/css" href="https://cursedprograms.github.io/cursedentertainment/styles/animations-style.css">
<link href="../static/styles/uploader.css" rel="stylesheet" type="text/css">
</head>
<body>
<h1>Image Uploader</h1>
<form action="/upload" method="post" enctype="multipart/form-data">
  <input type="file" name="file" accept="image/png, image/jpeg" required>
  <button type="submit">Upload</button>
</form>
<footer>呪われた エンターテイメント <br>
  © Cursed Entertainment 2023</footer>
</body>
</html>
