<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Image Uploader</title>
<link rel="stylesheet" type="text/css" href="https://cursedprograms.github.io/cursedentertainment/styles/main-style.css">
<link rel="stylesheet" type="text/css" href="https://cursedprograms.github.io/cursedentertainment/styles/content-style.css">
<link href="../static/styles/uploader.css" rel="stylesheet" type="text/css">
</head>
<body>
  <div class="content">
  <h1>Image Uploader</h1>
  <form action="/upload" method="post" enctype="multipart/form-data">
    <input type="file" name="file" accept="image/png, image/jpeg" required>
    <button type="submit">Upload</button>
  </form>
  {% if uploaded_images %}
  <div class="uploaded-images">
    <h2>Uploaded Images:</h2>
    <ul>
      {% for image in uploaded_images %}
        <li><img src="{{ url_for('static', filename='input/' + image) }}" alt="{{ image }}"></li>
      {% endfor %}
    </ul>
  </div>  </div>
  {% endif %}
<div class="icons_container">
    <iframe src="https://cursedprograms.github.io/cursedentertainment/icons/icon-container.html" frameborder="0"></iframe>
  </div>
<footer id="dynamicFooter"></footer>
<script src="https://github.com/CursedPrograms/cursedentertainment/blob/4499e7c8831917bfbb01fe5e99e1289602ef9b34/scripts/footer.js"></script>
</body>
</html>
