@import url('https://cursedprograms.github.io/cursedentertainment/styles/main-style.css');

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-secondary);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

input {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid var(--color-secondary);
  border-radius: 4px;
  background-color: var(--color-white);
  color: #333;
}

.uploaded-images {
  overflow-x: auto;
  white-space: nowrap;
}

.uploaded-images ul {
  list-style: none;
  display: inline-flex;
  gap: 10px;
  padding: 0;
}

.uploaded-images li {
  flex: 0 0 auto;
  box-sizing: border-box;
}