@charset "utf-8";
h1 {
  text-align: center;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #005184;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
input {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #004067;
  border-radius: 4px;
  background-color: #fff;
  color: #333;
}
button {
  background-color: #004067;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}
button:hover {
  background-color: #005184;
}

.uploaded-images ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 0;
}

.uploaded-images li {
  flex: 0 0 calc(33.33% - 10px);  /* Adjust the width as needed */
  box-sizing: border-box;
}
